@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
}
body{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0,0.5),rgba(0,0,0,0.5)),url(../Assets/pexels-maxyne-barcel-10402282.png);
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    margin: 30px 0px 50px 0px;
}

.logo img{
    height: 26px;
    width: 86px;
    cursor: pointer;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-family: "Red Rose";
}
.nav-items{
    color: #fbc13b;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    padding: 22px;
}

.orderbtn button{
    height: 39px;
    width:95px;
    background-color: #fe4c5b;
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    font-family: "Red Rose";
}

/* Main section */

.hero{
    max-width: 1190px;
    display: flex;
    flex-direction:column;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    color: #fbc13b;
    font-size: 51px;
}
.hero h1{
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 100;
}
.read-menu-button button{
    background:#fe4c5b;
    font-family: "Red Rose";
    font-weight: 700;
    font-size: 30px;
    color: white;
    border: none;
    padding: 25px 50px;
    margin-top: 60px;
    cursor: pointer;
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* Footer section */

footer img{
    position: absolute;
    right: 35px;
    bottom: 25px;
    background-attachment: fixed;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

/* Hover Effect */

button:hover{
    background-color: aliceblue;
    color: #fe4c5b;
    border-top: 2.5px solid red;
}


.nav-items:hover{
    color: aliceblue;
    text-shadow: 1px 1px #565656;
}
